#tooltip, #new-todo {
    visibility: hidden;
    font-size: 14px;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    margin-left: -60px;
}

#tooltip::after, #new-todo::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

#new-todo::after {
    left: 10%;
}

.btn {
    cursor: pointer;
    font-size: 17px;
    background-color: #7b95cd;
    color: white;
    line-height: 25px;
    height: 25px;
    margin: .3rem auto 0 auto;
    width: 100px;
    display: block;
    border-radius: .3rem;
}